.navbar {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CCE3DE;
  color: #6B9080;
  padding: 10px;
}

.shop-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.navigation-content {
  display: flex;
  gap: 30px;
  font-size: 1.3rem;
}

.navigation-content div:hover {
  font-size: 1.5rem;
  flex-wrap: wrap;
  cursor: pointer;
}